{% extends "MetinetFacebookBundle::base.html.twig" %}
{% block title %}Edition Réponse{% endblock %}
{% block container %}
       
        <h1>Edition Réponse</h1>

<form action="{{ path('answer_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Editer</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('question_show', { 'id': entity.question.id }) }}">
            Retour à la question
        </a>
    </li>
</ul>
        
{% endblock %}

