<form action="{{ path('answer_create', { 'id': id_question }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="deleteBouton" id="answerbutton" type="submit">Créer</button>
    </p>
</form>