/* RESET ---------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table{ border-collapse: collapse; border-spacing: 0; }
a{ text-decoration: none; }

hr{
	display: none;
}
/* /RESET ---------------------------------------------------------*/
/* COPRS ----------------------------------------------------------*/
body{
	background: whitesmoke;
	height: 100%;
        font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
.fb-like {
    position: absolute;
    top: 60px;
    right: 0px;
    display: none !important;
}
#page {
    position: relative;
    width: 710px;
    top: 113px;
    margin: 0 auto 190px;
    background: #fff;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    box-shadow: 7px 7px 10px gray;
    border: 1px solid #999;
    border-radius: 5px;
}
#logo {
    background: url('../images/logo-Admin.png') no-repeat 0 0;
    width: 400px;
    height: 180px;
    text-indent: -9999px;
}
#header{
    position: absolute;
    top: 0;
    left: 50%;
    width: 710px;
    margin-left: -355px;
    z-index: 10;
}
#header a {
    display: block;
    width: 400px;
    height: 180px;
}
#contenu{
	position: relative;
	margin-top: 140px;
	margin-left: 20px;
        margin-right: 20px;
}
/*.push {margin-top: 230px;}*/
.push, #footer{	
	height: 50px;
}
#cadreFooter{
	position: relative;
	margin: 0 auto;
	width: 710px;
}
.efface{display: none;}
/* /COPRS ---------------------------------------------------------*/
/* CONTENU --------------------------------------------------------*/
#contenu h1 {
    margin-bottom: 20px;
    font-size: 25px;
}
#linkAdmin {
    position: relative;
    left: 50%;
    margin-left: -239px;
}
.lienAccueil {
    display: inline-block;
    width: 200px;
    height: 30px;
    background: #3b5998;
    color: #fff;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    text-align: center;
    line-height: 30px;
    box-shadow: 3px 3px 5px gray;
    position: relative;
    margin-right: 50px;
    margin-bottom: 85px;
}
.lienAccueil:hover, .lienBouton:hover, .deleteBouton:hover {
    color: #fff;
    box-shadow: 1px 1px 4px gray;
    position: relative;
    top: 2px;
    left: 2px;
    text-decoration: none;
}
.lienBouton {
    display: inline-block;
    width: 200px;
    height: 30px;
    background: #3b5998;
    color: #fff;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    text-align: center;
    line-height: 30px;
    box-shadow: 3px 3px 5px gray;
    position: relative;
    margin-bottom: 30px;
}
.deleteBouton {
    display: inline-block;
    padding: 0;
    width: 200px;
    height: 34px;
    line-height: 30px;
    background: #3b5998;
    color: #fff;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    text-align: center;
    box-shadow: 3px 3px 5px gray;
    position: relative;
    margin-bottom: 30px;
}
.record_actions li {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
}
#formLogin{
    padding-top: 40px;
    position: relative;
    left: 50%;
    margin-left: -175px;
}
#deconnex {
    position: absolute;
    top: 10px;
    display: block;
    right: 10px;
    border: 0;
    background: url('../images/deconnexion.png') no-repeat 0 0;
    text-indent: 37px;
    height: 32px;
    box-shadow: none;
    cursor: pointer;
    z-index: 10;
    width: 35px;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
#deconnex:hover {width: 120px;}
label{
    padding-top: 4px;
    padding-right: 6px;
    font-size: 15px;
    font-weight: bold;
    line-height: 14px;
    float: left;
    width: 125px;
    /*text-align: right;*/
    color: #666666;
}
#connect {
    margin-top: 25px;
    margin-left: 115px;
    border-radius: 5px;
}
table{
    margin-top: 15px;
}
.trio {
    float: left;
    border: none;
    position: relative;
}
th {
    white-space: nowrap;
}
.begin{border-top: 1px solid #ddd;}
.last{margin-bottom: 0px;}
.infoUtile {
    margin-bottom: 30px;
}
.infoUtile li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px gray;
    font-size: 20px;
}
.titleTable{
    color: #3B5998;
    font-size: 18px;
}
/* /CONTENU-------------------------------------------------------- */
/* FB CSS-------------------------------------------------------- */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
a {
  color: #3b5998;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
  color: #3b5998;
  text-decoration: underline;
}
hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee;
}
strong {
  font-style: inherit;
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}
form {
  margin-bottom: 14px;
}
fieldset {
  margin-bottom: 14px;
  padding-top: 14px;
}
fieldset legend {
  display: block;
  padding-left: 150px;
  font-size: 16.5px;
  line-height: 1;
  color: #333333;
  *padding: 0 0 5px 145px;
  /* IE6-7 */

  *line-height: 1.5;
  /* IE6-7 */

}
form .clearfix {
  margin-bottom: 14px;
  zoom: 1;
}
form .clearfix:before, form .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
form .clearfix:after {
  clear: both;
}
input,
select,
textarea {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 14px;
}
form .input {
  margin-left: 150px;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}
input, textarea, select, .uneditable-input {
    display: inline-block;
    width: 300px;
    height: 18px;
    padding: 4px;
    font-size: 11px;
    margin-bottom: 15px;
    line-height: 14px;
    color: #666666;
    border: 1px solid #d4dae8;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
select {
  padding: 2px;
  width: 310px;
  padding: initial;
}
input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 10px 0;
  *margin-top: 0;
  /* IE6-7 */

  line-height: normal;
  border: none;
}
input[type=file] {
  background-color: #ffffff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
}
input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
}
select, input[type=file] {
  height: 21px;
  *height: auto;
  line-height: 21px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

}
select[multiple] {
  height: inherit;
  background-color: #ffffff;
}
textarea {
    min-height: 100px;
    max-width: 500px;
    min-width: 300px;
    height: auto;
}
.uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #999999;
}
::-webkit-input-placeholder {
  color: #999999;
}
input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}

table {
  /*width: 100%;*/
  width: 670px;
  margin-bottom: 35px;
  padding: 0;
  font-size: 11px;
  border-collapse: collapse;
   border: 1px solid #DDDDDD;
   -moz-box-shadow: 1px 1px 2px #DDDDDD;
   -moz-border-radius:4px;
   -webkit-box-shadow: 1px 1px 2px #DDDDDD;
   -webkit-border-radius:4px;
   -o-box-shadow: 1px 1px 2px #DDDDDD;
   -o-border-radius:4px;
    border-radius:4px;
    box-shadow: 1px 1px 2px #DDDDDD;
}
table th, table td {
  padding: 10px 10px 9px;
  line-height: 14px;
  text-align: center;
}
table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
}

table tr{
    border-top: 1px solid #ddd;
}

table td {
  vertical-align: top;
}
table tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}
.condensed-table th, .condensed-table td {
  padding: 5px 5px 4px;
}
.bordered-table {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bordered-table th + th, .bordered-table td + td, .bordered-table th + td {
  border-left: 1px solid #ddd;
}
.bordered-table thead tr:first-child th:first-child, .bordered-table tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.bordered-table thead tr:first-child th:last-child, .bordered-table tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.bordered-table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.bordered-table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
table .span1 {
  width: 5px;
}
table .span2 {
  width: 15px;
}
table .span3 {
  width: 25px;
}
table .span4 {
  width: 35px;
}
table .span5 {
  width: 45px;
}
table .span6 {
  width: 55px;
}
table .span7 {
  width: 65px;
}
table .span8 {
  width: 75px;
}
table .span9 {
  width: 85px;
}
table .span10 {
  width: 95px;
}
table .span11 {
  width: 105px;
}
table .span12 {
  width: 115px;
}
table .span13 {
  width: 125px;
}
table .span14 {
  width: 135px;
}
table .span15 {
  width: 145px;
}
table .span16 {
  width: 155px;
}
.zebra-striped tbody tr:nth-child(odd) td, .zebra-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td, .zebra-striped tbody tr:hover th {
  background-color: #f2f2f2;
}
table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .blue {
  color: #627aad;
  border-bottom-color: #627aad;
}
table .headerSortUp.blue, table .headerSortDown.blue {
  background-color: #e8ecf3;
}
table .green {
  color: #3b6e22;
  border-bottom-color: #3b6e22;
}
table .headerSortUp.green, table .headerSortDown.green {
  background-color: #9fd983;
}
table .red {
  color: #dd3c10;
  border-bottom-color: #dd3c10;
}
table .headerSortUp.red, table .headerSortDown.red {
  background-color: #fef2ee;
}
table .yellow {
  color: #e2c822;
  border-bottom-color: #e2c822;
}
table .headerSortUp.yellow, table .headerSortDown.yellow {
  background-color: #faf5d6;
}
table .orange {
  color: #f89406;
  border-bottom-color: #f89406;
}
table .headerSortUp.orange, table .headerSortDown.orange {
  background-color: #fee9cc;
}
table .purple {
  color: #7a43b6;
  border-bottom-color: #7a43b6;
}
table .headerSortUp.purple, table .headerSortDown.purple {
  background-color: #e2d5f0;
}
/* /FB CSS------------------------------------------------------- */



/* TABLEAU / FORMULAIRE  ----------------------------------------------------------*/

#answers li{
    float:none;
    padding: 5px 0;
    height:24px;
    line-height:24px;
}

.edit, .delete, .state, .see, .statecheck{
    display:block;
    text-indent:-9999px;
    width:24px;
    height:24px;
    float:left;
    margin-left: 10px;
    cursor:pointer;
}

.state, .texte_edit, .picture, .titre{
    float:left;
}

.delete{
    background: url('../images/delete.png') no-repeat 0 0;
    border:none;
    float:none;
    padding:4px 0;
}

#actif{
    background: url('../images/check.png') no-repeat 0 0;
}

#nonactif, .statecheck{
    background: url('../images/close.png') no-repeat 0 0;
}

#register_answer .answercheck{
    display:none;
}

.see{
    background: url('../images/loupe.png') no-repeat 0 0;
    float:none;
    padding:4px 0;
}

.edit{
    background: url('../images/modifier.png') no-repeat 0 0;
    float:none;
    padding:4px 0;
}

/*Gestion d'erreurs'*/

.error{
    
    background: url('../images/error.png') no-repeat 20px center;
    padding: 15px 15px 15px 60px;
    border:1px solid #e5352f;
    font-style: italic;
    font-family: Arial, serif;
    font-size:14px;
    color: #e5352f;
}

#formimage{
    margin-left: 130px;
    margin-bottom: 20px;
}
    
#questions{
    margin-bottom: 20px;
}

#questions li{
    border-bottom: 1px solid #CCCCCC;
    height: 120px;
    margin-top:20px;
}

#questions li img{
    border: 2px solid #FFFFFF;
    box-shadow: 1px 2px 3px #666666;
}

#questions li .titre{
    font-size: 14px;
    margin: 20px;
    width: 400px;
}

#options{
    float:right;
    margin: 8px 0;
}

#answers{
    margin-top:20px;
}

#register_answer, #register_false_answer{
    clear:both;
}

#register_answer div, #register_false_answer div{
    float:left;
}

#register_answer div #nonactif{
    margin: 2px 20px;
}

#answerbutton{
    font-size: 12px; 
    height: 26px; 
    width: 60px; 
    box-shadow: 1px 1px 3px gray; 
    line-height: 24px; 
    border: 1px solid whitesmoke;
}
